.item {
	width: 50%;
}

.item input {
	text-align: center;
	//width: 32px;
}

.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
    display: inline-block;
    margin: 0 15px;
    width: 100%;
}

span.ui-slider-handle.ui-state-default.ui-corner-all {
    border-radius: 0;
    border: none;
    height: 14px;
    top: 0;
    background: #5cb85c;
    border-left: 1px solid #4cae4c;
    border-right: 1px solid #4cae4c;
}

span.ui-slider-handle.ui-state-default.ui-corner-all:focus {
    background: #4cae4c;
    outline:none;
}